
--Database Script
USE [master]
GO
/****** Object:  Database [EmpTest]    Script Date: 03-04-2017 18:15:07 ******/
CREATE DATABASE [EmpTest]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'EmpTest', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL11.SQLEXPRESS\MSSQL\DATA\EmpTest.mdf' , SIZE = 5120KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'EmpTest_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL11.SQLEXPRESS\MSSQL\DATA\EmpTest_log.ldf' , SIZE = 1024KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [EmpTest].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [EmpTest]
GO
/****** Object:  Table [dbo].[UserTable]    Script Date: 03-04-2017 18:15:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UserTable](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nchar](10) NULL,
	[Address] [nchar](10) NULL,
	[City] [nchar](10) NULL,
 CONSTRAINT [PK_UserTable] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET IDENTITY_INSERT [dbo].[UserTable] ON 

GO
INSERT [dbo].[UserTable] ([Id], [Name], [Address], [City]) VALUES (1, N'Test      ', N'India     ', N'dfgdfg    ')
GO
INSERT [dbo].[UserTable] ([Id], [Name], [Address], [City]) VALUES (2, N'Test2     ', N'yes       ', N'yes       ')
GO
INSERT [dbo].[UserTable] ([Id], [Name], [Address], [City]) VALUES (3, N'YesBoss   ', N'asd       ', N'asd       ')
GO
SET IDENTITY_INSERT [dbo].[UserTable] OFF
GO
USE [master]
GO
